.edit-btn {
    background-color: #408cec;
    border: 0;
    padding: 12px 20px;
    color: #fff;
    margin: 0 auto;
    width: 150;
    display: block;
    border-radius: 3;
    margin: 0;
    width: auto;
    margin-top: 10;
}

.loading {
    text-align: center;
}
  
.loading-logo {
    margin-top: 150px;
    animation: loading-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

@keyframes loading-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  