.message-list {
    padding: 30px 15px 0 25px;
    width: 60%;
    height: 450px;
    overflow-y: auto;
    margin: 40px auto 0 auto;
    border: 1px solid gray;
}

.break-line {
    text-align: center;
    color: gray;
    font-size: 14px;
}