.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  width: 60%;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 0 15px 0 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 80%;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}